* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #ffe569;
}
#list {
  gap: 15px;
  display: flex;
  list-style: none;
}
#list a {
  text-decoration: none;
  color: black;
}
#navbar button {
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 8px;
}

#first h1 {
  text-align: center;
  margin-top: 1%;
}
.form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}
form button {
  display: block;
  margin: auto;
  font-size: 1.2rem;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 5px;
  margin-top: 30px;
}
.input {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 40%;
  /* border: 1px solid red; */
  font-weight: bold;
}
input {
  width: 60%;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
}
.input label {
  font-size: 1.3rem;
}
textarea::-webkit-scrollbar {
  display: none;
}
#content {
  width: 53%;
  height: 25vh;
  border: 2px solid grey;
  border-radius: 5px;
  overflow: scroll;
  padding: 5px;
}

#second h1 {
  margin: 1% 0 1% 1%;
}
#card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#card h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
#card p {
  width: 100%;
  height: 90%;
  font-size: 1.3rem;
  padding: 10px;
}
.c {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: aliceblue;
  height: 338px;
  box-shadow: 0 4px 6px -1px;
  border-bottom: 8px solid #be6db7;
  margin-bottom: 2vh;
}
.btn {
  display: flex;
  justify-content: flex-end;

  gap: 10px;
}
.btn button {
  border: none;
  background-color: white;
}

footer {
  margin-top: 8vh;
  background-color: #ffe569;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 1.3rem;
  text-align: center;
}
